
<h1>Exam Results</h1>  
<div class="row">
<img class="row" src="assets/exam.jpg" style="width: 1200px;height: 300px; padding-right: 40px;padding-left: 80px;"><br><br>
</div>



<div class="container-fluid">
        <div class="row">

            <form action="../submit" id="formentry" class="form-horizontal" role="form" data-parsley-validate novalidate>
                <div class="container-fluid shadow">
                    <div class="row">
                        <div id="valErr" class="row viewerror clearfix hidden">
                            <div class="alert alert-danger">Oops! Seems there are some errors..</div>
                        </div>
                        <div id="valOk" class="row viewerror clearfix hidden">
                            <div class="alert alert-success">Yay! ..</div>
                        </div>

                        
                                    <div class="form-group brdbot" style="display: block;">
          <h1>Issue Exam Results</h1>
          <div class="controls col-sm-9">
                    
                <p id="field5" data-default-label="Header" data-default-is-header="true" data-control-type="header"></p><span id="errId1" class="error"></span></div>
                
    </div><div class="row">
                                        <div class="col-md-12"><div class="row"><div class="col-md-12"><div class="row"><div class="col-md-12"><div class="row" style="display: block;"><div class="col-md-12"><div class="form-group" rel="popover" data-trigger="hover" data-content="Enter the required student's index number." data-original-title="" style="display: block;">
          <label class="control-label control-label-left col-sm-3" for="field1">Student Index Number :<span class="req"> *</span></label>
          <div class="controls col-sm-9">
                    
                <input id="field1" type="text" class="form-control k-textbox" data-role="text" data-parsley-minwords="7" data-parsley-maxwords="7" required="required" data-parsley-errors-container="#errId2"><span id="errId2" class="error"></span></div>
                
    </div><div class="form-group">
          <label class="control-label control-label-left col-sm-3" for="field2">Field of the  student :<span class="req"> *</span></label>
          <div class="controls col-sm-9">
                    
                <input id="field2" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId3"><span id="errId3" class="error"></span></div>
                
    </div><div class="form-group" style="display: block;">
          <label class="control-label control-label-left col-sm-3" for="field3">Term :<span class="req"> *</span></label>
          <div class="controls col-sm-9">
                    
                <input id="field3" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId4"><span id="errId4" class="error"></span></div>
                
    </div><div class="form-group" style="display: block;">
          <label class="control-label control-label-left col-sm-3" for="field4">Name of the person issuing :<span class="req"> *</span></label>
          <div class="controls col-sm-9">
                    
                <input id="field4" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId5"><span id="errId5" class="error"></span></div>
                
    </div><div class="form-group">
          <label class="control-label control-label-left col-sm-3" for="field7">Issuing Date :<span class="req"> *</span></label>
          <div class="controls col-sm-9">
                    
                <input id="field7" type="date" class="form-control k-input" data-role="date" role="textbox" aria-haspopup="true" aria-expanded="false" aria-owns="field7_dateview" aria-disabled="false" aria-readonly="false" aria-label="Current focused date is null" data-error-container="#errfield7" style="width: 100%;" required="required" data-parsley-errors-container="#errId6"><span id="errId6" class="error"></span></div>
                
    </div></div></div></div></div></div></div><div class="form-group" style="display: block;">
          
  
    <div style="margin-left: 175px" class="row" >
                 <button id="button36" type="button" class="btn btn-success btn-lg"> Send for Approval </button>  </div>    
    <div style="margin-top: -45px; padding-left: 550px" class="row">
                 <button id="button33" type="button" class="btn btn-warning btn-lg"> View Results </button></div>
    <div style="margin-top: -45px; padding-left: 900px" class="row"><button id="button32" type="button" class="btn btn-danger btn-lg">Cancel</button></div>           
  </div></div>
                                    </div>
                                


                    </div>
                </div>
            </form>
        </div>
    </div>