
<h1>Exam Results</h1>
<div class="row">
<img class="row" src="assets/exam.jpg" style="width: 1200px;height: 300px; padding-right: 40px;padding-left: 80px;"><br><br>
</div>



<div class="container-fluid">
        <div class="row">

            <form action="../submit" id="formentry" class="form-horizontal" role="form" data-parsley-validate novalidate>
                <div class="container-fluid shadow">
                    <div class="row">
                        <div id="valErr" class="row viewerror clearfix hidden">
                            <div class="alert alert-danger">Oops! Seems there are some errors..</div>
                        </div>
                        <div id="valOk" class="row viewerror clearfix hidden">
                            <div class="alert alert-success">Yay! ..</div>
                        </div>


                                    <div class="form-group brdbot" style="display: block;">
          <h1>Issue Exam Results</h1>
          <div class="controls col-sm-9">

                <p id="field5" data-default-label="Header" data-default-is-header="true" data-control-type="header"></p><span id="errId1" class="error"></span></div>

    </div><div class="row">
                                        <div class="col-md-12"><div class="row"><div class="col-md-12"><div class="row"><div class="col-md-12"><div class="row" style="display: block;"><div class="col-md-12"><div class="form-group" rel="popover" data-trigger="hover" data-content="Enter the required student's index number." data-original-title="" style="display: block;">
          <label class="control-label control-label-left col-sm-3" for="field1"><b>Student Index Number :</b><span class="req"> *</span></label>
          <div class="controls col-sm-9">

                <input id="field1" type="text" class="form-control k-textbox" data-role="text" data-parsley-minwords="7" data-parsley-maxwords="7" required="required" data-parsley-errors-container="#errId2"><span id="errId2" class="error"></span></div>

    </div><div class="form-group" style="display: block;">
          <label class="control-label control-label-left col-sm-3" for="field3"><b>Year :</b><span class="req"> *</span></label>
          <div class="controls col-sm-9">

                <input id="field3" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId4"><span id="errId4" class="error"></span></div>

    </div><div class="form-group" style="display: block;">
          <label class="control-label control-label-left col-sm-3" for="field4"><b>Name of the person issuing :</b><span class="req"> *</span></label>
          <div class="controls col-sm-9">

                <input id="field4" type="text" class="form-control k-textbox" data-role="text" required="required" data-parsley-errors-container="#errId5"><span id="errId5" class="error"></span></div>

    </div><div class="form-group">
          <label class="control-label control-label-left col-sm-3" for="field7"><b>Issuing Date :</b><span class="req"> *</span></label>
          <div class="controls col-sm-9">

                <input id="field7" type="date" class="form-control k-input" data-role="date" role="textbox" aria-haspopup="true" aria-expanded="false" aria-owns="field7_dateview" aria-disabled="false" aria-readonly="false" aria-label="Current focused date is null" data-error-container="#errfield7" style="width: 100%;" required="required" data-parsley-errors-container="#errId6"><span id="errId6" class="error"></span></div>

    </div></div></div></div></div></div></div><div class="form-group" style="display: block;">


    <div style="margin-left: 175px" class="row" >
                 <button id="button36" type="button" class="btn btn-success btn-lg"> Send for Approval </button>  </div>
    <div style="margin-top: -45px; padding-left: 550px" class="row" data-toggle="modal" data-target="#myModal2">
                 <button id="button33" type="button" class="btn btn-warning btn-lg"> View Results </button></div>

                 <div id="myModal2" class="modal fade" role="dialog">
                   <div class="modal-dialog">
                     <div class="modal-content">
                       <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal">&times;</button>
                         <h4 class="modal-title">Exam Results Viewer</h4>
                       </div>
                       <div class="modal-body">
                           <div> Index Number : </div>
                           <br>
                           <div> Name : </div>
                           <br>
                           <div> Term : </div>
                           <br>
                           <div> Results :</div>
                           <br>
                           <div class="flexbox container" style="; padding-top: 20px; margin-bottom:10px;">


                            </div>

                           <div class="row">
                             <ag-grid-angular style=" height: 131px;" class="ag-theme-fresh"
                                              [rowData]="results"
                                              [columnDefs]="columnDefs"
                                              enableColResize
                                              animateRows
                                              (gridReady)="onGridReady($event)"


                                              rowTemplate= '<div ng-dblclick="getExternalScopes().onGridDoubleClick(row)" ng-repeat="col in colContainer.renderedColumns track by col.colDef.name" class="ui-grid-cell" ui-grid-cell></div>'>
                             </ag-grid-angular>
                           </div>

                           <div class="modal-footer">
                           <div class="form-group pull-right">
                           <button type="button" class="btn btn-danger btn-lg" (click)="cancel()" data-dismiss="modal">Close</button>
                           <button type="button" class="btn btn-success btn-lg" (click)="onBtnExport()" data-dismiss="modal">Save</button>
                         </div></div>
                         </div></div></div></div>

    <div style="margin-top: -45px; padding-left: 900px" class="row"><button id="button32" type="button" class="btn btn-danger btn-lg">Cancel</button></div>
  </div></div>
                                    </div>



                    </div>
                </div>
            </form>
            
        </div>
    </div>

    <div class="row">
    <div class="item1" style="margin-top: 800px; left:201px; width:1500px; height:150px;background-image: url(../assets/footer.jpg);" >
      <div style="padding-top: 65px;padding-left: 60px"><a target="_blank" title="follow us on Twitter" href="http://www.twitter.com/PLACEHOLDER"><img alt="follow us on Twitter" src="https://c866088.ssl.cf3.rackcdn.com/assets/twitter30x30.png" border=0></a><a style="padding-left: 20px" target="_blank" title="follow me on facebook" href="http://www.facebook.com/PLACEHOLDER">
        <img alt="follow us on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook30x30.png" border=0></a><a style="padding-left: 20px" target="_blank" title="follow us on youtube" href="http://www.youtube.com/PLACEHOLDER"><img alt="follow us on youtube" src="https://c866088.ssl.cf3.rackcdn.com/assets/youtube30x30.png" border=0></a><a style="padding-left: 20px" target="_blank" title="follow us on instagram" href="http://www.instagram.com/PLACEHOLDER" >
        <img alt="follow us on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram30x30.png" border=0></a><a style="padding-left: 20px" target="_blank" title="follow us on google plus" href="https://plus.google.com/PLACEHOLDER"><img alt="follow us on google plus" src="https://c866088.ssl.cf3.rackcdn.com/assets/googleplus30x30.png" border=0></a></div><div class="row"><p style="margin-left:1140px;margin-top: -25px;font-family:'Courier New'; font-weight: bold;"><img src="../assets/surge.png" style="width: 30px;height: 30px" />     Team SURGE</p></div></div>

        </div>
