<body >
	<div style="background-image:url(assets/background3.jpg); top: 0 ; right:0; left:0; bottom: 0;background-size: cover; position:absolute;">
		<header align = "center" class="animated zoomIn" style="font-family: 'Do Hyeon', sans-serif; font-size:90px; color:#F9E79F;">
			Welcome to SurgeOrb
		</header>



		<div class="item animated fadeInDown" style="font-family: 'Roboto', sans-serif; overflow:auto; border: solid; border-radius: 10px; text-align:center;" >

			<h1> Oops!</h1>
      <p>
        The page your looking for doesnt exist.
      </p>
			<img src="assets/404.jpg" style="height:200px" />
		</div>
	</div>
</body>
