<h3>View Academic Result</h3>
      <div class="news-item">
        <div>
          <h2>Semester 1</h2>
          <br>
          <p>
<table class="table">
    <thead>
        <tr>
            <th class="table1" >  Module Code  </th>
            <th class="table2" >  Module Name  </th>
            <th class="table1" >  Grade</th>
            <th class="table2" >  GPA  </th>
        </tr>
    </thead>

    <tbody>
        <tr class="table-dark">
            <td>CS1962</td>
            <td>Engineering Skill Development</td>
            <td>A</td>
            <td>1.5</td>
        </tr>

        <tr class="table-light">
            <td>CS1962</td>
            <td>Engineering Skill Development</td>
            <td>A</td>
            <td>1.5</td>
        </tr>
        <tr></tr>
        <tr class="table-dark">
            <td>CS1962</td>
            <td>Engineering Skill Development</td>
            <td>A</td>
            <td>1.5</td>
        </tr>
        <tr class="table-light">
            <td>CS1962</td>
            <td>Engineering Skill Development</td>
            <td>A</td>
            <td>1.5</td>
        </tr>
        <tr class="table-dark">
            <td>CS1962</td>
            <td>Engineering Skill Development</td>
            <td>A</td>
            <td>1.5</td>
        </tr>
        <tr class="table-light">
            <td>CS1962</td>
            <td>Engineering Skill Development</td>
            <td>A</td>
            <td>1.5</td>
        </tr>
        <tr class="table-dark">
            <td>CS1962</td>
            <td>Engineering Skill Development</td>
            <td>A</td>
            <td>1.5</td>
        </tr>
        <tr class="table-light">
            <td>CS1962</td>
            <td>Engineering Skill Development</td>
            <td>A</td>
            <td>1.5</td>
        </tr>
        <tr class="table-dark">
            <td>CS1962</td>
            <td>Engineering Skill Development</td>
            <td>A</td>
            <td>1.5</td>
        </tr>
        <tr class="table-light">
            <td>CS1962</td>
            <td>Engineering Skill Development</td>
            <td>A</td>
            <td>1.5</td>
        </tr>
    </tbody>
</table>
<h2 style="">Semester GPA = 3.37</h2>
</div>
</div>
<div class="news-item">
        <div>
          <h2>Semester 2</h2>
          <br>
          <p>
<table class="table">
    <thead>
        <tr>
            <th class="table1" >  Module Code  </th>
            <th class="table2" >  Module Name  </th>
            <th class="table1" >  Grade</th>
            <th class="table2" >  GPA  </th>
        </tr>
    </thead>

    <tbody>
        <tr class="table-dark">
            <td>CS1962</td>
            <td>Engineering Skill Development</td>
            <td>A</td>
            <td>1.5</td>
        </tr>

        <tr class="table-light">
            <td>CS1962</td>
            <td>Engineering Skill Development</td>
            <td>A</td>
            <td>1.5</td>
        </tr>
        <tr></tr>
        <tr class="table-dark">
            <td>CS1962</td>
            <td>Engineering Skill Development</td>
            <td>A</td>
            <td>1.5</td>
        </tr>
        <tr class="table-light">
            <td>CS1962</td>
            <td>Engineering Skill Development</td>
            <td>A</td>
            <td>1.5</td>
        </tr>
        <tr class="table-dark">
            <td>CS1962</td>
            <td>Engineering Skill Development</td>
            <td>A</td>
            <td>1.5</td>
        </tr>
        <tr class="table-light">
            <td>CS1962</td>
            <td>Engineering Skill Development</td>
            <td>A</td>
            <td>1.5</td>
        </tr>
        <tr class="table-dark">
            <td>CS1962</td>
            <td>Engineering Skill Development</td>
            <td>A</td>
            <td>1.5</td>
        </tr>
        <tr class="table-light">
            <td>CS1962</td>
            <td>Engineering Skill Development</td>
            <td>A</td>
            <td>1.5</td>
        </tr>
        <tr class="table-dark">
            <td>CS1962</td>
            <td>Engineering Skill Development</td>
            <td>A</td>
            <td>1.5</td>
        </tr>
        <tr class="table-light">
            <td>CS1962</td>
            <td>Engineering Skill Development</td>
            <td>A</td>
            <td>1.5</td>
        </tr>
    </tbody>
</table>
<h2 style="text-align: center; font-family:'Arial'; padding-top: 10px">Semester GPA = 3.37</h2>
</div>
</div>
