<!--div class="row" style="margin-top: 100px" [style.display]="rowdisplay">

  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center"  (click)="gotoview()">
    <button class= "btn bigbutton" >
      View Addmitance <br /><span class="glyphicon glyphicon-book" ></span></button>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center" (click)="gotoadd()" >
    <button class= "btn bigbutton" >
     Add Addmitance <br /><span class="glyphicon glyphicon-book"></span></button>
  </div>


</div>

<main [style.display]="adddisplay">
	<h2 style="text-align: center;">Add Admittance</h2>


	  <form>
	  	 <button type="submit" style="margin-top: 50px;margin-left: 400px; background:linear-gradient(#6680FF,#99BFFF,#A3C9FF);border-radius: 10px; width: 50px height:10px">Submit</button>
	  </form>

</main>

<main  [style.display]="viewdisplay">
  <h2 style="text-align: center;">View Admittance</h2>
  <div class="table-responsive" >
        <table summary="list of Addmitance" class="table table-bordered table-hover" >
          <caption class="text-center">Admittance List </caption>
          <thead>
            <tr>
              <th>Index Number</th>
              <th>Week1</th>
              <th>Week2</th>
              <th>Week3</th>
            </tr>
          </thead>
          <tbody style="background-color: white">
            <tr >
              <td>160555K</td>
              <td>1</td>
              <td>1</td>
              <td>1</td>
            </tr>
          </tbody>
        </table>
      </div><end of .table-responsive>

</main-->

<h2>Attendance Of Students</h2>

<hr style="color: #E5E8E8;width: 1500px">

<div style="text-align:center; background-image: url(assets/attendancecover.jpg); width: 1100px; height:250px; margin-left:12%; border-radius: 10px">
</div>

<div class="main-wrapper" style="text-align:center; font-size: 350%;background-color: white; border: solid;border-radius: 10px;opacity: 0.9; width:600px;height: 80px; margin-left: 450px; margin-top:-180px">
<b>Attendance of Students</b>
</div>

<br><br><br>

<button class=" btn btn-primary" style="margin-left:80%;margin-top:70px;"(click)="refresh()">Refresh</button>
<ag-grid-angular style="width:1000px; height: 131px; margin-top:50px; margin-left:15%; border-radius:10px;" class="ag-theme-bootstrap item"
                 [rowData]="rowData"
                 [columnDefs]="columnDefs"
                 enableSorting
                 enableFilter
                 enableColResize
                 enableQuickFilter
                 [rowSelection]="rowSelection"
                 (cellValueChanged)="valuechange($event)"
                 (selectionChanged)="onSelectionChanged($event)"
                 (rowDoubleClicked)="onRDC($event)"
                 (gridReady)="onGridReady($event)"
                 rowTemplate= '<div ng-dblclick="getExternalScopes().onGridDoubleClick(row)" ng-repeat="col in colContainer.renderedColumns track by col.colDef.name" class="ui-grid-cell" ui-grid-cell></div>'>
</ag-grid-angular>
