<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center" (click)="gotoView()" >
  <button class= "btn bigbutton" >
    View Questions <br /><span class="glyphicon glyphicon-book"></span></button>
</div>

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center"  >
  <button class= "btn bigbutton" >
    Quiz Info <br/><span class="glyphicon glyphicon-book"></span></button>
</div>

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center"  >
  <button class= "btn bigbutton" >
    Student Answers <br /><span class="glyphicon glyphicon-book"></span></button>
</div>
