
<h2>Marks of Quizzes</h2>

<hr style="color: #E5E8E8;width: 1500px">

<div style="text-align:center; background-image: url(assets/quizmarkscover.jpg); width: 1022px; height:300px; margin-left:15%; border-radius: 10px">
</div>
<div class="main-wrapper" style="text-align:center; font-size: 350%;background-color: white; border: solid;border-radius: 10px;opacity: 0.9; width:520px;height: 80px; margin-left: 450px; margin-top:-200px">
<b>Marks of Quizzes</b>
</div>



<br>
<br>
<br>

<button class="btn btn-primary" style="margin-left:80%;margin-top:100px;" (click)="refresh()">Refresh</button>

<ag-grid-angular style="width:1000px; height: 131px; margin-top:50px; margin-left:15%; border-radius:10px;" class="ag-theme-bootstrap item"
                 [rowData]="rowData"
                 [columnDefs]="columnDefs"
                 enableSorting
                 enableFilter
                 enableColResize
                 enableQuickFilter
                 [rowSelection]="rowSelection"
                 (selectionChanged)="onSelectionChanged($event)"

                 (cellValueChanged)="valuechange($event)"

                 (gridReady)="onGridReady($event)"
                 rowTemplate= '<div ng-dblclick="getExternalScopes().onGridDoubleClick(row)" ng-repeat="col in colContainer.renderedColumns track by col.colDef.name" class="ui-grid-cell" ui-grid-cell></div>'>
</ag-grid-angular>
