


<div style="height:100px; padding-top:30px">
  <button class="btn "(click)="refresh()">Refresh</button>
  <button [disabled]="!completed && (blocked | async)" class="btn "(click)="backtomodule()">Back to Module</button>
</div>

<div *ngIf="!(blocked | async) && !completed" id="mainbody" style=" padding-top:30px ; padding-bottom: 30px; text-align: center; background-color: mintcream; border-style:solid; border-color:grey; border-radius:10px; margin-top:20px; margin-bottom:20px;">
  You are locked out of this quiz
</div>
<div *ngIf = "(blocked | async) || completed">
<div class="btn-group">
  <button type="button" class="btn btn-primary"  *ngFor= "let question of quiz" (click)="goto(quiz.indexOf(question))">{{quiz.indexOf(question) + 1}}</button>
</div>

<div style="overflow:hidden;">
  <button class="btn" *ngIf="shownext" style="float:right;"(click)="next()">next</button>
  <button class="btn" *ngIf="showprev" (click)="prev()">previous</button>
  <button class="btn" *ngIf="!shownext && !completed" style="float:right;" (click)="submit()">Submit</button>
</div>


<div style="height:10px;">

</div>

<div class = "form-group" *ngIf="completed" style="background-color:mintcream; border-style:solid; border-color:grey; border-radius:10px; height:60px; text-align:center; padding-top:10px;">
  You got {{correct}} out of {{this.quiz.length}} Questions correct.<br />
  Percentage = {{correct*100/this.quiz.length}} %
</div>
</div>
