<button (click)="refresh()">Refresh</button>
<div class="btn-group">
  <button type="button" class="btn btn-primary"  *ngFor= "let question of quiz" (click)="goto(quiz.indexOf(question))">{{quiz.indexOf(question) + 1}}</button>
</div>

<div style="overflow:hidden;">
  <button class="btn" *ngIf="shownext" style="float:right;"(click)="next()">next</button>
  <button class="btn" *ngIf="showprev" (click)="prev()">previous</button>
  <button class="btn" *ngIf="!shownext && !completed" style="float:right;" (click)="submit()">Submit</button>
</div>


<div style="height:10px;">

</div>

<div class = "form-group" *ngIf="completed" style="background-color:mintcream; border-style:solid; border-color:grey; border-radius:10px; height:60px; text-align:center; padding-top:10px;">
  You got {{correct}} out of {{this.quiz.length}} Questions correct.<br />
  Percentage = {{correct*100/this.quiz.length}} %
</div>
