<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="item">
<div class="container">

          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse1" (click)="showl1()"><h2>Level 1</h2></a>
          </h4>
        </div>
        <div id="collapse1" class="container panel-collapse collapse">
          <ul style="list-style-type:none;" class="list-group dropdown-menu1" id="listM">
            <li *ngFor=" let subject of ModuleListl1" class="list-group-item " style="width:500px"> <a (click)="view(subject)">{{subject.moduleName}}</a>
            </li>
          </ul>
        </div>

</div>
<div class="item">
  <div class="container">
        <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse2" (click)="showl2()"><h2>Level 2</h2></a>
          </h4>
        </div>
        <div id="collapse2" class="container panel-collapse collapse">
          <ul style="list-style-type:none;" class="list-group dropdown-menu2" id="listM">
            <li *ngFor=" let subject of ModuleListl2" class="list-group-item " style="width:500px"> <a (click)="view(subject)">{{subject.moduleName}}</a>
              </li>
          </ul>

  </div>
</div>
<div class="item">
  <div class="container">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse3" (click)="showl3()"><h2>Level 3</h2></a>
          </h4>
        </div>
        <div id="collapse3" class="container panel-collapse collapse">
          <ul style="list-style-type:none;" class="list-group dropdown-menu3" id="listM">
            <li *ngFor=" let subject of ModuleListl3" class="list-group-item " style="width:500px"> <a (click)="view(subject.module)">{{subject.moduleName}}</a>
            </li>
          </ul>


   </div>
</div>
