
<div class="item">
       <ul>
         <li><a href="#">>> Object Oriented Programing</a></li>
         <li><a href="#">>> Network and Communication</a></li>
         <li><a href="#">>> Calculus</a></li>
         <li><a href="#">>> Theory of Electricity</a></li>
         <li><a href="#">>> Progarmin Challenge</a></li>
         <li><a href="#">>> Operating System</a></li>
         <li><a href="#">>> Mentoring</a></li>
         <li><a href="#">>> Graph Theory</a></li>
         <li><a href="#">>> Aspect of Civil Engineering</a></li>
       </ul>

     </div>
