
<h2 >View Leave Applications</h2>

<hr style="color: #E5E8E8;width: 1500px">
 <ul id="messageslist" style="list-style-type:none; " class="list-group">
  <li *ngFor= "let x of contentd" class="list-group-item animated fadeInLeft " (click)="movedownl(contentd.indexOf(x),x)">
    <div>
      {{x.decription}}
      <span class="pull-right">
          <span class="btn btn-xs btn-default" (click)="acceptleave(contentd.indexOf(x))">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
          </span>
      </span>
      <span class="pull-right">
          <span class="btn btn-xs btn-default" (click)="refuseleave(contentd.indexOf(x))">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
          </span>
      </span>
    </div>
    <ul class="dropdown-menu1 " style="display:none; list-style-type: none;" [attr.id]="contentd.indexOf(x)">
      <li>
        <div class="form-group">


        <div class="row">

       <label class="control-label col-md-3" ><b>Teacher Name </b></label>
       <div class="col-md-9">


       <p> {{x.teachername}}</p>
      </div>
      </div>
      </div>
      </li>
      <li>
        <div class="form-group">
          <div class="row">
         <label class="control-label col-md-3"><b>From </b></label>
         <div class="col-md-9">

        <p> {{x.from}} </p>

        </div>
        </div>
        </div>
      </li>
      <li>
        <div class="form-group">
        <div class="row">
        <label class="control-label col-md-3" for="NIC"><b>To </b></label>
        <div class="col-md-9">

          <p> {{x.to}} </p>

       </div>
       </div>
     </div>
      </li>
      <li>
        <div class="form-group">
          <div class="row">
          <label class="control-label col-md-3" for="contact"><b>Reason </b></label>
          <div class=col-md-9>
             <p> {{x.reason}} </p>
          </div>
          </div>
        </div>

      </li>
      <li >
        <div class = "form-group">
          <div class="row">


        <label class="control-label col-md-3" for="email"><b>Accepted Status</b></label>
          <div class="col-md-9">
             <p> {{x.accept}} </p>

          </div>
          </div>
        </div>

      </li>
    </ul>
  </li>
</ul>
