<div class="row">


  <div class="header2"><p>Site News</p></div>
      <div class="news-item">
        <div class="news-header">
          <h3><p>Who are teachers?</p>
          <p>byJanaka Sandaruwan  (Admin) - Thurseday, 05 March 2018, 10:34 PM</p></h3>
        </div>

         <p>Nulla tincidunt augue vel dolor convallis lobortis. Nunc nibh dolor, tincidunt elementum lorem id, porta imperdiet neque. Quisque egestas lacus nec magna mattis aliquam. Nunc eget orci odio. Quisque neque odio, lobortis a orci ut, tempus feugiat tortor. Quisque et tincidunt arcu. Sed vel accumsan risus. Quisque enim ipsum, luctus vitae ultrices at, vulputate eu lorem. Curabitur at nibh sagittis, lobortis odio nec, sodales velit. Aenean interdum, magna nec molestie congue, magna nisi sodales dolor, at mattis ipsum nisi at nibh. Aenean quis dictum lacus. Vivamus commodo sit amet nibh eget scelerisque. Duis consequat fringilla mollis. Sed eros risus, sodales in porttitor bibendum, vulputate ut est.</p>

      </div>


  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center" (click)="gotoLeave()" >
    <button class= "btn bigbutton" >
      Leave Application <br /><span class="glyphicon glyphicon-book"></span></button>
  </div>

  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center" (click)="gotoModule()" >
    <button class= "btn bigbutton" >
      My classes <br /><span class="glyphicon glyphicon-book"></span></button>
  </div>


</div>
