<div class="item" style="top: 290px; left:247px; width:1300px; height:350px" >
                <p style="padding-left: 50px; padding-top: 20px; font-size: x-large; font-weight: bold;">Site News</p>
                <div class="item1" style="top: 230px; left:249px; width:1165px; height:80px" >
                <p style="padding-left: 30px; padding-top: 10px; font-size: 15; font-weight: bold">Awareness Session - Oxford Art Online
</p><p style="padding-left: 30px; padding-top: 10px; font-size: 15">by Uditha Maduranga (Admin) - Monday, 05 March 2018, 10:34 PM</p>

                </div>


                <div style="padding-top: 130px;padding-left: 50px;padding-right: 40px;">Nulla tincidunt augue vel dolor convallis lobortis. Nunc nibh dolor, tincidunt elementum lorem id, porta imperdiet neque. Quisque egestas lacus nec magna mattis aliquam. Nunc eget orci odio. Quisque neque odio, lobortis a orci ut, tempus feugiat tortor. Quisque et tincidunt arcu. Sed vel accumsan risus. Quisque enim ipsum, luctus vitae ultrices at, vulputate eu lorem. Curabitur at nibh sagittis, lobortis odio nec, sodales velit. Aenean interdum, magna nec molestie congue, magna nisi sodales dolor, at mattis ipsum nisi at nibh. Aenean quis dictum lacus. Vivamus commodo sit amet nibh eget scelerisque. Duis consequat fringilla mollis. Sed eros risus, sodales in porttitor bibendum, vulputate ut est.</div>

                </div>
                <div class="item1" style="top: 700px; left:290px; width:450px; height:350px;background-image: url(../assets/watsapp.jpg);" ><h1 style="padding-left:150px">Notice 1</h1></div>
                <div class="item1" style="top: 700px; left:1050px; width:450px; height:350px;background-image: url(../assets/watsapp.jpg);" ><h1 style="padding-left:150px">Notice 2</h1></div>
        <!--        <div class="container" style="padding-top: 900px; left:100px; width:650px; height:350px">
      Responsive calendar - START
                  <div class="responsive-calendar" style=" border-style: solid; background: url(../assets/calback.jpg);" >
                    <div class="controls">
                        <a class="pull-left" data-go="prev"><div class="btn btn-primary">Prev</div></a>
                        <h4><span data-head-year></span> <span data-head-month></span></h4>
                        <a class="pull-right" data-go="next"><div class="btn btn-primary">Next</div></a>
                    </div><hr/>
                    <div class="day-headers">
                      <div class="day header">Mon</div>
                      <div class="day header">Tue</div>
                      <div class="day header">Wed</div>
                      <div class="day header">Thu</div>
                      <div class="day header">Fri</div>
                      <div class="day header">Sat</div>
                      <div class="day header">Sun</div>
                    </div>
                    <div class="days" data-group="days">

                    </div>
                  </div>
                   Responsive calendar - END
                </div>-->
<div class="item1" style="top: 1750px; left:202px; width:1388px; height:150px;background-image: url(../assets/footer.jpg);" >
  <div style="padding-top: 65px;padding-left: 60px"><a target="_blank" title="follow us on Twitter" href="http://www.twitter.com/PLACEHOLDER"><img alt="follow us on Twitter" src="https://c866088.ssl.cf3.rackcdn.com/assets/twitter30x30.png" border=0></a><a style="padding-left: 20px" target="_blank" title="follow me on facebook" href="http://www.facebook.com/PLACEHOLDER">
    <img alt="follow us on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook30x30.png" border=0></a><a style="padding-left: 20px" target="_blank" title="follow us on youtube" href="http://www.youtube.com/PLACEHOLDER"><img alt="follow us on youtube" src="https://c866088.ssl.cf3.rackcdn.com/assets/youtube30x30.png" border=0></a><a style="padding-left: 20px" target="_blank" title="follow us on instagram" href="http://www.instagram.com/PLACEHOLDER" >
    <img alt="follow us on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram30x30.png" border=0></a><a style="padding-left: 20px" target="_blank" title="follow us on google plus" href="https://plus.google.com/PLACEHOLDER"><img alt="follow us on google plus" src="https://c866088.ssl.cf3.rackcdn.com/assets/googleplus30x30.png" border=0></a></div><p style="padding-left:1110px;margin-top: -25px;font-family:'Courier New'; font-weight: bold;"><img src="../assets/surge.png" style="width: 30px;height: 30px" />     Team SURGE</p></div>

    
