<body background="assets/ab.jpg" style="height:720px">

		<header align = "center" class="animated zoomIn" style="font-family:'Courier New'; font-size:90px; color:#FFFFFF;">
			Welcome to SurgeOrb
		</header>
		<hr width="1400">

	<div class="item animated fadeInDown" >
		<form align="center" style="font-family:'Times New Roman';">
			<h1>Log in</h1>
			<p>Username</p><input type="text" placeholder="username "[(ngModel)]="uname" name="username" size="20" /><br />
			<p>Password </p><input type="password" [(ngModel)]="pass" name="passw"/><br /><br>
			<input type="checkbox" name="vehicle" value="Bike">Remember username<br>
			<input type="button" (click)="Auth()" value="submit" style="border-radius: 10px;background-color: #3498DB;font-size: 30px;" />
		</form>
	</div>
</body>
