<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center" (click)="gotoNN()">
    <button class= "btn bigbutton" >
      Post New Notice<br /><span class="glyphicon glyphicon-book"></span></button>
  </div>
  <!--<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center" (click)="gotoVT()">
    <button class= "btn bigbutton" >
      View Teachers<br /><span class="glyphicon glyphicon-book"></span></button>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer " (click)="gotoVS()" align="center" >
    <button class= "btn bigbutton" >
      View Students<br /><span class="glyphicon glyphicon-book"></span></button>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center" (click) = "gotoVE()" >
    <button class= "btn bigbutton" >
      View Other Employees <br /><span class="glyphicon glyphicon-book"></span></button>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center" (click) = "gotoVSub()" >
    <button class= "btn bigbutton" >
      View current Subjects <br /><span class="glyphicon glyphicon-book"></span></button>
  </div> -->
</div>
