<div class="frame">
  <form method="post" action="progress.php">
    <fieldset >
      <legend id="state">Select a student</legend>
      <label for="search">Index Number</label>
      <input type="text" name="search" b id="search">
      <button type="submit" name="submit">Go</button>
    </fieldset>

  </form>


</div>

 <hr>
  <div class="full">
    <a routerLink="./progresslist" routerLinkActive="active" >Display full summary of students</a>
  </div>

  <div class="full">
    <a routerLink="./feablelist" routerLinkActive="active" >Display acodemic feable student list</a>
  </div>
