<h2>Batches Table</h2>
<div align="right">
  <button class="btn" data-toggle="modal" data-target="#cbatch">+ Add Batch</button>
</div>
<div id="cbatch" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Batch</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <label class="control-label col-md-3" for="field1"><b>Batch Code</b></label>
  			    <div class="controls col-md-9">

                  <input id="field1" type="text" #bcode="ngModel" required class="form-control k-textbox" data-role="text" [(ngModel)]="cb.name">
                </div>

          </div>
        </div>

			  <div class="form-group">
          <div class="row">
            <label class="control-label col-md-3" for="field2"><b>Starting Year</b></label>
  			    <div class="controls col-md-9">

                  <input id="field2" type="text" class="form-control k-textbox"  [(ngModel)]="cb.com" data-role="text" required #syear="ngModel"></div>

          </div>
        </div>

		     <div class="form-group">
           <div class="row">
             <label class="control-label col-md-3" for="field3"><b>Graduation Year</b></label>
   			    <div class="controls col-md-9">

                   <input id="field3" type="text" [(ngModel)]="cb.grad" class="form-control k-textbox" data-role="text" required #gyear="ngModel"></div>

           </div>
         </div>


      </div>
      <div class="modal-footer">
        <div class="form-group pull-right" *ngIf = "(!gyear.invalid || (!gyear.dirty && gyear.touched)) && (!syear.invalid || (!syear.dirty && syear.touched)) && (!bcode.invalid || (!bcode.dirty && bcode.touched))" >
        <button id="button77" type="button" class="btn btn-default" (click)="submitStudent()">Submit</button>
        </div>
        <div class="form-group pull-right" >
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="row">

      <div class="table-responsive" >
        <table summary="Complete list of batches" class="table table-bordered table-hover" >
          <caption class="text-center">Complete list of batches </caption>
          <thead>
            <tr>
              <th>BatchID</th>
              <th>Commencment Year</th>
              <th>Year of Graduation</th>
              <th>Total number of Students</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor= "let batch of batches">
              <td>{{batch.name}}</td>
              <td>{{batch.com}}</td>
              <td>{{batch.grad}}</td>
              <td>{{batch.total}}</td>
            </tr>
          </tbody>
        </table>
      </div><!--end of .table-responsive-->

  </div>
