<h2>Batches Table</h2>
<div align="right">
  <button class="btn" data-toggle="modal" data-target="#cbatch">+ Add Batch</button>
</div>
<div id="cbatch" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add Batch</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <label class="control-label col-md-3" for="field1"><b>Batch Code</b><span class="req"> *</span></label>
  			    <div class="controls col-md-9">

                  <input id="field1" type="text" #bcode="ngModel" (input)="setted()" required class="form-control k-textbox" data-role="text" [(ngModel)]="cb.name">
                  <div id="div1" *ngIf="bcode.invalid && (bcode.touched || bcode.dirty) && set" class="alert alert-danger">
                  <div *ngIf="bcode.errors.required"> Batchcode is required.</div>
                </div>

          </div>
        </div>
      </div>

			  <div class="form-group">
          <div class="row">
            <label class="control-label col-md-3" for="field2"><b>Starting Year</b><span class="req"> *</span></label>
  			    <div class="controls col-md-9">

                  <input id="field2" type="text" (input)="checkyears()" class="form-control k-textbox"  [(ngModel)]="cb.com" data-role="text" required #syear="ngModel" pattern=[0-9]{4}>
                  <div id="div1" *ngIf="syear.invalid && (syear.touched || syear.dirty) && set" class="alert alert-danger">
                  <div *ngIf="syear.errors.required"> Starting year is required.</div>
                  <div *ngIf="syear.errors.pattern">Stating year is invalid</div>
                  <div *ngIf="(invalidyears | async)"> Ending year has to be after starting year</div>
                  </div>
          </div>
        </div>
      </div>

		     <div class="form-group">
           <div class="row">
             <label class="control-label col-md-3" for="field3"><b>Graduation Year</b><span class="req"> *</span></label>
   			    <div class="controls col-md-9">

                   <input id="field3" type="text" (input)="checkyears()" [(ngModel)]="cb.grad" class="form-control k-textbox" data-role="text" required #gyear="ngModel" pattern=[0-9]{4}>
                   <div id="div1" *ngIf="gyear.invalid && (gyear.touched || gyear.dirty) && set" class="alert alert-danger">
                   <div *ngIf="gyear.errors.required"> Graduation Year is required.</div>
                   <div *ngIf="gyear.errors.pattern"> Ending year is invalid</div>
                   <div *ngIf="(invalidyears | async)"> Ending year has to be after starting year</div>
                   </div>
           </div>
         </div>


      </div>
    </div>
      <div class="modal-footer">
        <div class="form-group pull-right"  >
        <button [disabled]="( (invalidyears | async) || gyear.invalid || (!gyear.dirty && !gyear.touched)) || (syear.invalid || (!syear.dirty && !syear.touched)) || (bcode.invalid || (!bcode.dirty && !bcode.touched))"id="button77" type="button" class="btn btn-default" (click)="submitStudent()">Submit</button>
        </div>
        <div class="form-group pull-right" >
        <button type="button" class="btn btn-default" (click)="clear()">Clear</button>
        </div>
        <div class="form-group pull-right" >
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="row">

      <div class="table-responsive" >
        <table summary="Complete list of batches" class="table table-bordered table-hover" >
          <caption class="text-center">Complete list of batches </caption>
          <thead>
            <tr>
              <th>BatchID</th>
              <th>Commencment Year</th>
              <th>Year of Graduation</th>
              <th>Total number of Students</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor= "let batch of batches">
              <td>{{batch.name}}</td>
              <td>{{batch.com}}</td>
              <td>{{batch.grad}}</td>
              <td>{{batch.total}}</td>
            </tr>
          </tbody>
        </table>
      </div><!--end of .table-responsive-->

  </div>


  <button style="display:none;" id="successbutton" data-toggle="modal" data-target="#successmodal" class="btn btn-primary"></button>

  <div id="successmodal" class="modal fade" >
    <div class="modal-dialog">
      <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{Success}}</h4>
      </div>
    </div>
  </div>
