
<div align="right" style="padding-bottom: 20px;" >
  <button class="btn" data-toggle="modal" data-target="#myModal">+ Add Subject</button>
</div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Subject Form</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="row">
            <label class="control-label col-md-3"><b>Code</b><span class="req"> *</span> </label>
            <div class="col-md-9">
              <input id="code" name="code" class="form-control" required minlength="6"  [(ngModel)]="csubject.code" #code="ngModel" (input)="checkValidity()">

             <div id="div1" *ngIf="code.invalid && (code.dirty || code.touched)  && set " class="alert alert-danger" pattern="[A-Z]{2}[1-9]{4}">
             <div *ngIf="code.errors.pattern"> Code should be 2 Uppercase letters followed by 4 digits</div>
             <div *ngIf="code.errors.required"> Code is required.</div>
             <div *ngIf="code.errors.minlength"> Code must 6 characters long.</div></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <label class="control-label col-md-3"><b>Name</b><span class="req"> *</span></label>
            <div class="col-md-9">
              <textarea type="textarea" id="name" name="name" class="form-control" required minlength="10" (input)="setted()" [(ngModel)]="csubject.name" #name="ngModel" ></textarea>

             <div id="div2" *ngIf="name.invalid && (name.dirty || name.touched) && set" class="alert alert-danger">
             <div *ngIf="name.errors.required"> name is required.</div>
             <div *ngIf="name.errors.minlength">name must be at least 10 characters long.</div></div>
            </div>
          </div>

        </div>

        <div class="form-group">
          <div class="row">
            <label class="control-label col-md-3"><b>Level</b><span class="req"> *</span></label>
            <div class="col-md-9">
              <select class="form-control" [(ngModel)]="csubject.level" required #level="ngModel" (input)="checkValidity()">
                <option *ngFor="let level of levels" [ngValue]="level.name">{{level.name}}</option>
              </select>
            </div>
          </div>
        </div>


        <div class="form-group">
          <div class="row">
            <label class="control-label col-md-3"><b>Teacher</b><span class="req"> *</span></label>
            <div class="col-md-9">
              <select id="teacher" class="form-control" [(ngModel)]="csubject.teacher" required #teacher="ngModel" (input)="setted()">
                <option *ngFor="let teacher of availTeachers" [ngValue]="teacher" >{{teacher.fname}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <label class="control-label col-md-3"><b>Batch</b><span class="req"> *</span></label>
            <div class="col-md-9">
              <select class="form-control" [(ngModel)]="csubject.batch" (change)="checkValidity()" #batch="ngModel" required (input)="setted()">
                <option *ngFor="let batch of batches" [ngValue]="batch.name">{{batch.name}}</option>
              </select>
            </div>
          </div>
        </div>



      <div id="div13" *ngIf="(classtaken | async) " class="alert alert-danger">
      <div *ngIf="(classtaken | async)"> Class has already been Created </div> </div>

      <div *ngIf="teacher.invalid && (teacher.dirty || teacher.touched)  && set" class="alert alert-danger">
      <div *ngIf="teacher.errors.required"> Teacher is required.</div></div>

      <div *ngIf="batch.invalid && (batch.dirty || batch.touched)  && set" class="alert alert-danger">
      <div *ngIf="batch.errors.required"> Batch is required.</div></div>

      <div *ngIf="level.invalid && (level.dirty || level.touched)  && set" class="alert alert-danger">
      <div *ngIf="level.errors.required"> Level is required.</div></div>


      </div>
      <div class="modal-footer">
        <div class="form-group pull-right">
        <button id="button79" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        <div class="form-group pull-right">
        <button id="button77" type="button" class="btn btn-default" (click)="clear()">Reset</button>
        </div>
          <div class="form-group pull-right"  >
          <button id="pro" [disabled]="(code.invalid) || (name.invalid) || (level.invalid) || (batch.invalid ) || (teacher.invalid) || !set || (classtaken | async)" type="button" class="btn btn-default" data-dismiss="modal" (click)="AddSubject()">Proceed</button>
          </div>
      </div>
    </div>
  </div>
</div>

<div style="height:60px;">
<button (click)="Deletebutton()" class="btn btn-primary">Delete</button>
<button id="refresher" (click)="refresh()" class="btn btn-primary">Refresh</button>
<button class="btn btn-primary" (click)="fit()">fit</button>
<button class="btn btn-primary" (click)="onBtnExport()">Download</button>
<div class="dropdown-container"><!--Container wrapped around-->
<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn" type="button" aria-expanded="true">Filter Columns</button>
  <ul role="menu" class="dropdown-menu">
    <li>
      <input type="checkbox" [checked]="showid" (change)="toggleid()" >ID
    </li>
    <li>
      <input type="checkbox" [checked]="showname" (change)="togglename()" >Name
    </li>
  </ul>
</div>
</div>
<div class="flexbox container" style="; padding-top: 20px; margin-bottom:10px;">


 </div>

<div class="row">
  <ag-grid-angular style=" height: 131px;" class="ag-theme-bootstrap"
                   [rowData]="SEmployees"
                   [columnDefs]="columnDefs"
                   enableSorting
                   enableFilter
                   enableColResize
                   animateRows
                   defaultColDef="{
                    enableValue: true,
                    enableRowGroup: true,
                    enablePivot: true
                    }"
                   [rowSelection]="rowSelection"
                   (selectionChanged)="onSelectionChanged($event)"
                   (gridReady)="onGridReady($event)"
                   (rowDoubleClicked)="onRDC($event)"
                   rowTemplate= '<div ng-dblclick="getExternalScopes().onGridDoubleClick(row)" ng-repeat="col in colContainer.renderedColumns track by col.colDef.name" class="ui-grid-cell" ui-grid-cell></div>'>
  </ag-grid-angular>
</div>

<button style="display:none;" id="errorbutton" data-toggle="modal" data-target="#errormodal" class="btn btn-primary"></button>



<div id="errormodal" class="modal fade" >
  <div class="modal-dialog">
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{Error}}</h4>
    </div>
  </div>
</div>
