<div class="row" style="margin-top: 100px" [style.display]="rowdisplay">

  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center"  (click)="gotosend()">
    <button class= "btn bigbutton" >
      ViewLeave Application <br /><span class="glyphicon glyphicon-book" ></span></button>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center" (click)="gotoinfo()" >
    <button class= "btn bigbutton" >
     View Leave Information <br /><span class="glyphicon glyphicon-book"></span></button>
  </div>


</div>
