<div align="right" style="padding-bottom: 20px;" data-toggle="modal" data-target="#myModal">
  <button class="btn btn-primary">+ Leave Application</button>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Leave Application</h4>
      </div>
        <div class="modal-body">
          <form method="post" #userForm="ngForm" >
          <label for="reason" class="control-label control-label-left col-sm-3">Reason*</label>
          <input   type="text" name="reason" [(ngModel)]="reason" id="reason" required minlength="4" class="form-control k-textbox" #reasonx="ngModel"><br>

          <div *ngIf="reasonx.errors && (reasonx.dirty || reasonx.touched) "  class ="alert alert-danger">
            <div *ngIf="reasonx.errors.minlength">Reason must be at least 4 characters long.
            </div>

            <div *ngIf="reasonx.errors.required" >Please enter reason
            </div>

            <!--div *ngIf="reasonx.errors.pattern && !reasonx.errors.minlength" >You can only use english letters
            </div-->

          </div>



          <label for="discrip" class="control-label control-label-left col-sm-3">Discription*</label>
                   <!--textarea cols="100" rows=""30 name="discrip" id="discrip"></textarea><br-->
          <textarea required minlength="10"  #disc="ngModel" id="discrip" rows="3" name="text" [(ngModel)]="discription" class="form-control k-textbox" data-role="textarea" required="required"  data-maxwords="150" style="margin-top: 0px; margin-bottom: 0px; height: 285px;"  ></textarea>
          <div *ngIf="disc.errors && (disc.dirty || disc.touched) "  class ="alert alert-danger">
            <div *ngIf="disc.errors.minlength">Discription must be at least 10 characters long.
            </div>

            <div *ngIf="disc.errors.required" >Please enter description
            </div>


          </div>

          <label for="from" class="control-label control-label-left col-sm-3">From*</label>
          <input type="date" [(ngModel)]="from" (input)="validFromDate()" name="from" id="to" placeholder="MM/DD/YYY" required class="form-control" #rx="ngModel" ><br>

          <div *ngIf="rx.errors && (rx.dirty || rx.touched) "  class ="alert alert-danger">

            <div *ngIf="rx.errors.required" >Please enter date
            </div>


          </div>
          <div *ngIf="(fromvalid | async)" class ="alert alert-danger">  {{message}}</div>

          <label for="to" class="control-label control-label-left col-sm-3">To*</label>
          <input [disabled]="!issetdate" title="First fill the start date !" type="date" [(ngModel)]="to" (input)="validToDate()" name="to" id="to" placeholder="MM/DD/YYY" required class="form-control" #rnx="ngModel"  >
          <div *ngIf="rnx.errors && (rnx.dirty || rnx.touched) "  class ="alert alert-danger">


            <div *ngIf="rnx.errors.required" >Please enter date
            </div>

            <!--div *ngIf="reasonx.errors.pattern && !reasonx.errors.minlength" >You can only use english letters
            </div-->

          </div>
          <div *ngIf="(tovalid | async)" class ="alert alert-danger">  {{message}}</div>


          <div class="modal-footer">
            <div class="form-group pull-right">



            <button id="cancel" type="button" class="btn btn-default" (click)="cancel()" data-dismiss="modal">Close</button>

            <button type="button" (click)="send()" [disabled]="!userForm.form.valid || (tovalid | async)  || (fromvalid | async) " class="btn btn-default" data-dismiss="modal">Send</button>



            </div>
          </div>
        </form>
        </div>
0
    </div>
  </div>
 </div>



<button class="btn btn-primary"  style=" display:none" data-toggle="modal" data-target="#myModal1" id="verify" ></button>


 <!-- Trigger the modal with a button
 <button id="btn1" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1" [disabled]="true"></button>-->
 <!-- Modal -->
 <div id="myModal1" class="modal fade" role="dialog">
   <div class="modal-dialog modal-sm">

     <!-- Modal content-->
     <div class="modal-content">

       <div class="modal-body">
         <p>The request  was sent ! </p>
       </div>

       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
      </div>

     </div>

   </div>
 </div>

<div >
	<h2 style="text-align: center;">Leave Information</h2>
  <button class="btn btn-primary" (click)="refresh()">Refresh</button>
  <ag-grid-angular style="width:1175px; height: 131px; margin-top:40px; margin-left:50px" class="ag-theme-bootstrap"
                   [rowData]="rowData"
                   [columnDefs]="columnDefs"
                   enableSorting
                   enableFilter
                   enableColResize
                   enableQuickFilter
                   [rowSelection]="rowSelection"
                   (selectionChanged)="onSelectionChanged($event)"
                   (rowDoubleClicked)="onRDC($event)"
                   (gridReady)="onGridReady($event)"
                   rowTemplate= '<div ng-dblclick="getExternalScopes().onGridDoubleClick(row)" ng-repeat="col in colContainer.renderedColumns track by col.colDef.name" class="ui-grid-cell" ui-grid-cell></div>'>
  </ag-grid-angular>

    <!--div style="width: 1175px;height:120px; background:linear-gradient(#6680FF,#99BFFF,#A3C9FF);margin-left: 50px; margin-top: 100px; font-size: 20px; text-align: left;">
      <p style="margin-left:30px; margin-top:110px;">Number of remaining leaves :{{num}}</p>
      <p style="margin-left:30px;">Last Leave Application</p>

    </div-->


</div>
