<div id="header" class="navbar navbar-default navbar-fixed-top" style="height:90; background-color:#424242;" >
    <div class="navbar-header" >
        <a href="javascript:void(0);"(click)="gotohome()"><img  id="icon" src="assets/nt.png" /></a>
    </div>
    <nav class="navbar-collapse collapse " style="color:white;">
        <ul class="nav navbar-nav">
            <li>
                <h1 style="font-family: 'Do Hyeon', sans-serif;">Welcome to SurgeOrb!</h1>
            </li>
            <!--<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Navbar Item 2<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Navbar Item2 - Sub Item 1</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Navbar Item 3</a>
            </li>-->
        </ul>
        <ul class="nav navbar-nav pull-right" style="display:table; margin:0 auto; margin-top:1rem;">
            <li class="dropdown" (mouseenter)="movedown()" (mouseleave)="moveup()">
                <img id="xsd" src={{profileurl}} alt="assets/149071.png"  onerror="this.src='assets/149071.png'"/>
                <a href="#" id="nbAcctDD" style="background-color:#424242" class="content" data-toggle="dropdown"><i class="icon-user"></i>{{username}}<i class="icon-sort-down"></i></a>
                <ul  class="dropdown-menu pull-right content" style="background-color:#808B96" >
                    <li ><a (click)="logout()">Log Out</a></li>
                    <li ><a (click)="changedata()">Change</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<div id="wrapper">
  <div id="sidebar-wrapper"  >
    <div class="sidebar">

        <ul class="sidebar-nav content">
            <li  >
                <div>
                  <a href="javascript:void(0);" (click)="togglenav()">Close <i class="fa fa-bars menu-icon fa-2x small-icon" aria-hidden="true"></i></a>
                </div>
            </li>
            <li>
                <a href="javascript:void(0);" (click) = "gotohome()" >Home <i class="fa fa-home menu-icon fa-2x large-icon " aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="javascript:void(0);" (click) = "gotoVSub()">View Subjects<i class="fa fa-book menu-icon fa-2x small-icon" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="javascript:void(0);" (click) = "gotoVE()">View Employees<i class="fa fa-users-cog menu-icon fa-2x large-icon" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="javascript:void(0);" (click) = "gotoVS()">View Students<i class="fa fa-graduation-cap menu-icon fa-2x large-icon" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="javascript:void(0);" (click) = "gotoVT()">View Teachers<i class="fa fa-chalkboard-teacher menu-icon fa-2x large-icon" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="javascript:void(0);" (click) = "changedata()" >Change Profile<i class="fa fa-cog menu-icon fa-2x small-icon" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="javascript:void(0);" (click)="logout()">Log out<i class="fa fa-sign-out-alt menu-icon fa-2x small-icon" aria-hidden="true"></i>
                    </a>
            </li>

        </ul>
    </div>
        </div>
        <div id="main-wrapper">
            <div id="main">
              <div style="height:20px">
              </div>
              <router-outlet></router-outlet>
              <div class="row">
                <div class="item1" style="margin-top: 800px;  width:1500px; height:150px;background-image: url(../assets/footer.jpg);" >
                  <div style="padding-top: 65px;padding-left: 60px"><a target="_blank" title="follow us on Twitter" href="http://www.twitter.com/PLACEHOLDER"><img alt="follow us on Twitter" src="https://c866088.ssl.cf3.rackcdn.com/assets/twitter30x30.png" border=0></a><a style="padding-left: 20px" target="_blank" title="follow me on facebook" href="http://www.facebook.com/PLACEHOLDER">
                    <img alt="follow us on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook30x30.png" border=0></a><a style="padding-left: 20px" target="_blank" title="follow us on youtube" href="http://www.youtube.com/PLACEHOLDER"><img alt="follow us on youtube" src="https://c866088.ssl.cf3.rackcdn.com/assets/youtube30x30.png" border=0></a><a style="padding-left: 20px" target="_blank" title="follow us on instagram" href="http://www.instagram.com/PLACEHOLDER" >
                      <img alt="follow us on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram30x30.png" border=0></a><a style="padding-left: 20px" target="_blank" title="follow us on google plus" href="https://plus.google.com/PLACEHOLDER"><img alt="follow us on google plus" src="https://c866088.ssl.cf3.rackcdn.com/assets/googleplus30x30.png" border=0></a></div><div class="row"><p style="margin-left:1140px;margin-top: -25px;font-family:'Courier New'; font-weight: bold;"><img src="../assets/surge.png" style="width: 30px;height: 30px" />     Team SURGE</p></div></div>

                    </div>
            </div>
        </div>
</div>
