<div align="right" style="padding-bottom: 20px;" >
  <button class="btn" data-toggle="modal" data-target="#myModal">+ Add Employee</button>
</div>
<button  class="positive" id="save2" style="display:none;" data-toggle="modal" data-target="#errormodal">
    Save
</button>
<button  class="positive" id="save" style="display:none;" data-toggle="modal" data-target="#myModal2">
    Save
</button>
<div id="myModal2" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Viewing Data of {{DCCRows.fname}}</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">

        <div class="row">

       <label class="control-label col-md-3" ><b>Full Name </b></label>
       <div class="col-md-9">


       <p> {{DCCRows.fname}}</p>
      </div>
      </div>
      </div>

      <div class="form-group">

      <div class="row">

     <label class="control-label col-md-3" ><b>Employee ID </b></label>
     <div class="col-md-9">


     <p> {{DCCRows.ID}}</p>
    </div>
    </div>
    </div>

      <div class="form-group">
        <div class="row">
       <label class="control-label col-md-3"><b>Address </b></label>
       <div class="col-md-9">

      <p> {{DCCRows.Address}} </p>

      </div>
      </div>
      </div>
      <div class="form-group">

      <div class="row">
      <label class="control-label col-md-3" for="NIC"><b>NIC </b></label>
      <div class="col-md-9">

        <p> {{DCCRows.NIC}} </p>

     </div>
     </div>
     </div>
     <div class="form-group">
       <div class="row">
       <label class="control-label col-md-3" for="contact"><b>Phone </b></label>
       <div class=col-md-9>
          <p> {{DCCRows.contact}} </p>
       </div>
       </div>
     </div>

     <div class="form-group">
       <div class="row">


       <label class="control-label col-md-3" for="email"><b>Email </b></label>
         <div class="col-md-9">
            <p> {{DCCRows.email}} </p>

         </div>
         </div>
     </div>
      </div>
      <div class="modal-footer">
        <div class="form-group pull-right">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Employee Form</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">

        <div class="row">

       <label class="control-label col-md-3" for="name"><b>Full Name </b><span class="req"> *</span></label>
       <div class="col-md-9">


       <input id="name" name="name" class="form-control input-md" required minlength="4"  (input)="setted()" pattern="[a-zA-Z][a-zA-Z ]{3,}"  [(ngModel)]="cemployee.fname" #name="ngModel" >

      <div id="div1" *ngIf="name.invalid && (name.touched || name.dirty) && set" class="alert alert-danger">
      <div *ngIf="name.errors.pattern"> Enter a valid name.</div>
      <div *ngIf="name.errors.required"> Name is required.</div>
      <div *ngIf="name.errors.minlength">Name must be at least 4 characters long.</div></div>
      </div>
      </div>
      </div>

      <div class="form-group">
        <div class="row">
       <label class="control-label col-md-3" for="Address"><b>Address </b><span class="req"> *</span></label>
       <div class="col-md-9">

       <textarea type="textarea" id="Address" name="Address" class="form-control" required minlength="30"  [(ngModel)]="cemployee.Address" #Address="ngModel" ></textarea>

      <div id="div2" *ngIf="Address.invalid && (Address.dirty || Address.touched) && set" (input)="setted()" class="alert alert-danger">
      <div *ngIf="Address.errors.required"> Address is required.</div>
      <div *ngIf="Address.errors.minlength"> Address must be at least 30 characters long </div></div>
      </div>
      </div>
      </div>
      <div class="form-group">

      <div class="row">
      <label class="control-label col-md-3" for="NIC"><b>NIC </b><span class="req"> *</span></label>
      <div class="col-md-9">

      <input id="NIC" name="NIC" class="form-control input-md" required minlength="10" (input)="checkValidity()" [(ngModel)]="cemployee.NIC" #NIC="ngModel" pattern="^[0-9]{9}[v]" >

     <div id="div3" *ngIf="NIC.invalid && (NIC.dirty || NIC.touched) && set" class="alert alert-danger">
     <div *ngIf="NIC.errors.required"> NIC is required.</div>
     <div *ngIf="NIC.errors.pattern"> NIC needs to be valid</div> </div>
     <div id="div13" *ngIf="(NICtaken | async)" class="alert alert-danger">
     <div *ngIf="NIC.errors.required"> NIC is required.</div>
     <div *ngIf="(NICtaken | async)"> NIC already taken </div> </div>
     </div>
     </div>
     </div>
     <div class="form-group">
       <div class="row">
       <label class="control-label col-md-3" for="contact"><b>Phone </b><span class="req"> *</span></label>
       <div class=col-md-9>
         <input id="contact" name="contact" class="form-control input-md" required minlength="10"  (input)="setted()" [(ngModel)]="cemployee.contact" #contact="ngModel"  pattern="^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$" >

         <div id="div4" *ngIf="contact.invalid && (contact.dirty || contact.touched) && set" class="alert alert-danger">
         <div *ngIf="contact.errors.required"> Phone number is required.</div>
         <div *ngIf="contact.errors.pattern">Please enter a valid Phone Number</div></div>
       </div>
       </div>
     </div>

     <div class="form-group">
       <div class="row">


       <label class="control-label col-md-3" for="email"><b>Email </b><span class="req"> *</span></label>
         <div class="col-md-9">
           <input id="email" name="email" class="form-control input-md" required (input)="setted()" [(ngModel)]="cemployee.email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" >

          <div id="div5" *ngIf="email.invalid && (email.touced || email.dirty) && set" class="alert alert-danger">
          -<div *ngIf="email.errors.required"> Email Address is required.</div>
          <div *ngIf="email.errors.pattern"> Please enter a valid Email Address </div></div>
         </div>
         </div>
     </div>

     <div class="form-group">
       <div class="row">


       <label class="control-label col-md-3" for="username"><b>Username </b><span class="req"> *</span></label>
         <div class="col-md-9">
           <input id="username" name="username" class="form-control" required minlength="4"  [(ngModel)]="cemployee.username" #username="ngModel" (input)="checkUsername()">

           <div id="div20" *ngIf="username.invalid && (username.touched || username.dirty) && setted()" class="alert alert-danger">
           <div *ngIf="username.errors.required"> username is required.</div>
           <div *ngIf="username.errors.minlength">username must be at least 4 characters long.</div></div>
           <div id="div2343" *ngIf="(Usernametaken | async)" class="alert alert-danger">
           <!--<div *ngIf="NIC.errors.required"> NIC is required.</div>-->
           <div *ngIf="(Usernametaken | async)"> Username already taken </div> </div>
         </div>
         </div>
     </div>
  <div class="form-group">
   <div class="row">
     <label class="control-label col-md-3" ><b>Role </b><span class="req"> *</span></label>
     <div class="col-md-9">
       <input type="radio" [(ngModel)]="cemployee.role" value="admin" name="1d" #rol="ngModel" required>Admin<br />
       <input type="radio" [(ngModel)]="cemployee.role" value="HR" name="1d" #rol="ngModel" required>HR<br />
       <input type="radio" [(ngModel)]="cemployee.role" value="ExamDiv" name="1d" #rol="ngModel" required>Exam Division Emplyee<br />
       <input type="radio" [(ngModel)]="cemployee.role" value="Welfare" name="1d" #rol="ngModel" required>Welfare Division Employee<br />

     </div>
   </div>
 </div>

      </div>
      <div class="modal-footer">
        <div class="form-group pull-right">
        <button id="button79" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        <div class="form-group pull-right">
        <button id="button77" type="button" class="btn btn-default" (click)="clear()">Reset</button>
        </div>

          <div class="form-group pull-right"  >
          <button id="pro" [disabled]=" (email.invalid || (!email.dirty && !email.touched)) || (Address.invalid || (!Address.dirty && !Address.touched)) || (contact.invalid || (!contact.dirty && !contact.touched)) || ( (NIC.invalid || (NICtaken | async)) || (!NIC.dirty && !NIC.touched)) || (name.invalid || (!name.dirty && !name.touched)) || (rol.invalid)  || ( (username.invalid || (Usernametaken | async)) || (!username.dirty && !username.touched))  "  type="button" class="btn btn-default" data-dismiss="modal" (click)="AddEmployee()">Proceed</button></div>


      </div>
    </div>
  </div>
</div>
<div id="suremodal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Are you sure you want to delete ?</h4>
      </div>
      <div class="modal-body" style="height:100px">
        <div class="form-group pull-right" >
          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="Deletebutton()" >Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </div>


    </div>
  </div>
</div>
<div style="height:60px;">
<button data-toggle="modal" data-target="#suremodal" class="btn btn-primary">Delete</button>
<button id="refresher" (click)="refresh()" class="btn btn-primary">Refresh</button>
<button class="btn btn-primary" (click)="fit()">fit</button>
<button class="btn btn-primary" (click)="onBtnExport()">Download</button>
<div class="dropdown-container"><!--Container wrapped around-->
<button data-toggle="dropdown" class="btn btn-primary dropdown-toggle btn" type="button" aria-expanded="true">Filter Columns</button>
  <ul role="menu" class="dropdown-menu">
    <li>
      <input type="checkbox" [checked]="showid" (change)="toggleid()" >ID
    </li>
    <li>
      <input type="checkbox" [checked]="showname" (change)="togglename()" >Name
    </li>
    <li>
      <input type="checkbox" [checked]="shownic" (change)="togglenic()" >NIC
    </li>
    <li>
      <input type="checkbox" [checked]="showadd" (change)="toggleadd()" >Address
    </li>
    <li>
      <input type="checkbox" [checked]="showmail" (change)="togglemail()" >Email
    </li>
    <li>
      <input type="checkbox" [checked]="showcon" (change)="togglecon()" >Contact
    </li>
  </ul>
</div>
</div>

<div class="flexbox container" style="; padding-top: 20px; margin-bottom:10px;">


 </div>

<div class="row">
  <ag-grid-angular style=" height: 131px;" class="ag-theme-bootstrap"
                   [rowData]="SEmployees"
                   [columnDefs]="columnDefs"
                   enableSorting
                   enableFilter
                   enableColResize
                   animateRows
                   defaultColDef="{
                    enableValue: true,
                    enableRowGroup: true,
                    enablePivot: true
                    }"
                   [rowSelection]="rowSelection"
                   (selectionChanged)="onSelectionChanged($event)"
                   (gridReady)="onGridReady($event)"
                   (rowDoubleClicked)="onRDC($event)"
                   rowTemplate= '<div ng-dblclick="getExternalScopes().onGridDoubleClick(row)" ng-repeat="col in colContainer.renderedColumns track by col.colDef.name" class="ui-grid-cell" ui-grid-cell></div>'>
  </ag-grid-angular>
</div>

<button style="display:none;" id="errorbutton" data-toggle="modal" data-target="#errormodal" class="btn btn-primary"></button>

<div id="errormodal" class="modal fade" >
  <div class="modal-dialog">
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{Error}}</h4>
    </div>
  </div>
</div>

<button style="display:none;" id="successbutton" data-toggle="modal" data-target="#successmodal" class="btn btn-primary"></button>

<div id="successmodal" class="modal fade" >
  <div class="modal-dialog">
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{Success}}</h4>
    </div>
  </div>
</div>
