<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center" (click)="gotoCC()">
    <button class= "btn bigbutton" >
      View Batches<br /><span class="glyphicon glyphicon-book"></span></button>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center">
    <button class= "btn bigbutton" >
      View Teachers<br /><span class="glyphicon glyphicon-book"></span></button>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center" >
    <button class= "btn bigbutton" >
      View Payment Details<br /><span class="glyphicon glyphicon-book"></span></button>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center" >
    <button class= "btn bigbutton" >
      AdminTask 3 <br /><span class="glyphicon glyphicon-book"></span></button>
  </div>
</div>
