hr{
	color: tan;
	width: 2px ;
}

 a:hover{
	color: red;
	text-decoration: none;

}

.full a{
	color: white;
	text-decoration: none;

}

.frame{
	width: 100%
	height:40%;
	background-color: white;
	border-radius: 10px;
	border-color: blue;
	background:linear-gradient(#6680FF,#99BFFF,#A3C9FF);
	padding: 40px;

}

.full{
	margin: auto;
	width: 400px;
	height: 50px;
	text-align: center;
	background-color: blue;
	background:linear-gradient(#6680FF,#99BFFF,#A3C9FF);
	padding-top: 20px;
	border-radius: 10px;
	padding-bottom: 20px;
	font-size: 20px;
	font-weight: 5px;
	color: white;
	margin-bottom: 30px;

}

button{
	padding-left: 10px;
	border-radius: 10px;
}

#search{
	padding: 4px;
	border-radius: 10px;

}