

main{
	width: 1000px;
	margin: 30px  auto;
	font-size: 16px;
}

table.marklist{
	width: 100%;
	border-collapse: collapse; 
}

table.marklist th{
	background:#6680FF;
	background:linear-gradient(#6680FF,#99BFFF,#A3C9FF);
	text-align: left;
}

table.marklist th, table.marklist td{
	padding: 10px;
	border-bottom: 1px solid #6680FF;
	text-align: center;
}

/*.btn{
	padding: 25px;
	width: 100%;
	height: 30px;
	font-size: 20px;
	background-color:#6680FF;
	border-top-width: : 20px;
}*/
.table1{
	padding: 20px;
	margin-bottom: 30px;

}

.table2{
	padding: 20px;
	margin-bottom: 30px;
	
}

.btnsubmit button{
	padding: 10px;
	border-radius: 10px;
	border-left: 50px;
	background-color: #6680FF;
	background:linear-gradient(#6680FF,#99BFFF,#A3C9FF);
}
/*	padding: 15px;
	
}*/

