<div>
<p>{{Question}}</p>
  <form>
    <input type="radio" name="gender" [(ngModel)]="selected"  value="1" checked (change)='newValue(value)'> {{Option1}} <br />
    <input type="radio" name="gender" [(ngModel)]="selected" value="2" (change)='newValue(value)'> {{Option2}} <br />
    <input type="radio" name="gender" [(ngModel)]="selected" value="3" (change)='newValue(value)'> {{Option3}} <br />
    <input type="radio" name="gender" [(ngModel)]="selected" value="4" (change)='newValue(value)'> {{Option4}} <br />
  </form>
</div>

<button *ngIf="level" type="button" class="btn btn-default"
                      (click)="removeObject()" > Remove</button>
