<div class="row">


  <div class="item" style="top: 290px; left:247px; width:92%" >
                  <p style="padding-left: 50px; padding-top: 20px; font-size: x-large; font-weight: bold;">Site News</p>
                  <div class="item1" style="top: 230px; left:249px; width:85%; height:80px" >
                  <p style="padding-left: 30px; padding-top: 10px; font-size: 15; font-weight: bold">Awareness Session - Oxford Art Online
  </p><p style="padding-left: 30px; padding-top: 10px; font-size: 15">by Dimuthu Madushan (Admin) - Monday, 05 March 2018, 10:34 PM</p>

                  </div>


                  <div style="padding-top: 130px;padding-left: 50px;padding-right: 40px;">Nulla tincidunt augue vel dolor convallis lobortis. Nunc nibh dolor, tincidunt elementum lorem id, porta imperdiet neque. Quisque egestas lacus nec magna mattis aliquam. Nunc eget orci odio. Quisque neque odio, lobortis a orci ut, tempus feugiat tortor. Quisque et tincidunt arcu. Sed vel accumsan risus. Quisque enim ipsum, luctus vitae ultrices at, vulputate eu lorem. Curabitur at nibh sagittis, lobortis odio nec, sodales velit. Aenean interdum, magna nec molestie congue, magna nisi sodales dolor, at mattis ipsum nisi at nibh. Aenean quis dictum lacus. Vivamus commodo sit amet nibh eget scelerisque. Duis consequat fringilla mollis. Sed eros risus, sodales in porttitor bibendum, vulputate ut est.</div>

                  </div>

</div>

        <!--div class="news-item">
        <div class="news-header">
          <h3><p>Importing contents from old Modules</p>
          <p>by Dimuthu Madushan (Admin) - Thurseday, 05 March 2018, 10:34 PM</p></h3>
        </div>

         <p>Nulla tincidunt augue vel dolor convallis lobortis. Nunc nibh dolor, tincidunt elementum lorem id, porta imperdiet neque. Quisque egestas lacus nec magna mattis aliquam. Nunc eget orci odio. Quisque neque odio, lobortis a orci ut, tempus feugiat tortor. Quisque et tincidunt arcu. Sed vel accumsan risus. Quisque enim ipsum, luctus vitae ultrices at, vulputate eu lorem. Curabitur at nibh sagittis, lobortis odio nec, sodales velit. Aenean interdum, magna nec molestie congue, magna nisi sodales dolor, at mattis ipsum nisi at nibh. Aenean quis dictum lacus. Vivamus commodo sit amet nibh eget scelerisque. Duis consequat fringilla mollis. Sed eros risus, sodales in porttitor bibendum, vulputate ut est.</p>

      </div>

      <div class="news-item">
        <div class="news-header">
          <h3><p>Importing contents from old Modules</p>
          <p>by Dimuthu Madushan (Admin) - Thurseday, 05 March 2018, 10:34 PM</p></h3>
        </div>

         <p>Nulla tincidunt augue vel dolor convallis lobortis. Nunc nibh dolor, tincidunt elementum lorem id, porta imperdiet neque. Quisque egestas lacus nec magna mattis aliquam. Nunc eget orci odio. Quisque neque odio, lobortis a orci ut, tempus feugiat tortor. Quisque et tincidunt arcu. Sed vel accumsan risus. Quisque enim ipsum, luctus vitae ultrices at, vulputate eu lorem. Curabitur at nibh sagittis, lobortis odio nec, sodales velit. Aenean interdum, magna nec molestie congue, magna nisi sodales dolor, at mattis ipsum nisi at nibh. Aenean quis dictum lacus. Vivamus commodo sit amet nibh eget scelerisque. Duis consequat fringilla mollis. Sed eros risus, sodales in porttitor bibendum, vulputate ut est.</p>

      </div-->

      <div class="row" style="padding-top:500px;">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center" (click)="gotocourse()" style="margin-left:150px;padding-left:0px">
        <button class= "btn button" style=" background: url(assets/Subjects.jpg);color: black;font-size:xx-large;font-weight: bold;">
        <div class="main-wrapper" style="background-color: white; border-radius: 3px;opacity: 0.8">
            My Modules </div></button></div>



            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center" (click)="gotoenrolment()"  style="padding-left: 300px">
            <button class= "btn button" style=" background: url(assets/enrol3.png);color: black;font-size:xx-large;font-weight: bold;">
            <div class="main-wrapper" style="background-color: white; border-radius: 3px;opacity: 0.8">
            Enrolement </div></button></div>
        </div>

        <div class="row" >
          <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center" (click)="gotoprogress()" style="margin-left:150px;padding-left:0px">
          <button class= "btn button" style=" background: url(assets/finalgrade.jpg);color: black;font-size:xx-large;font-weight: bold;">
          <div class="main-wrapper" style="background-color: white; border-radius: 3px;opacity: 0.8">
              Progress Check </div></button></div>


              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center" (click) = "gotoVN()" style="padding-left: 300px" >
                <button class= "btn button" style=" background: url(assets/notice2.jpg);color: black;font-size:xx-large;font-weight: bold;">
                  <div class="main-wrapper" style="background-color: white; border-radius: 3px;opacity: 0.8">  View Notices</div></button>
                </div>

              <!--div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center" (click)="gotoscholar()"  style="padding-left: 300px">
              <button class= "btn button" style=" background: url(assets/schol2.gif);color: black;font-size:xx-large;font-weight: bold;">
              <div class="main-wrapper" style="background-color: white; border-radius: 3px;opacity: 0.8">
              Scholarship </div></button></div-->
          </div>


          <!--div class="row" >
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center" (click)="gotoleave()" style="margin-left:150px;padding-left:0px">
            <button class= "btn button" style=" background: url(assets/leave-application.jpg);color: black;font-size:xx-large;font-weight: bold;">
            <div class="main-wrapper" style="background-color: white; border-radius: 3px;opacity: 0.8">
                Medical Leave </div></button></div>



                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center" (click)="gotocomplain()"  style="padding-left: 300px">
                <button class= "btn button" style=" background: url(assets/comp1.jpg);color: black;font-size:xx-large;font-weight: bold;">
                <div class="main-wrapper" style="background-color: white; border-radius: 3px;opacity: 0.8">
                Add Complains </div></button></div>
            </div-->

            <div class="row" >
              <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center" (click)="changedata()" style="margin-left:150px;padding-left:0px">
              <button class= "btn button" style=" background: url(assets/change.jpg);color: black;font-size:xx-large;font-weight: bold;">
              <div class="main-wrapper" style="background-color: white; border-radius: 3px;opacity: 0.8">
                  Change Profile </div></button></div>


              </div>
