<div id="header" class="navbar navbar-default navbar-fixed-top" style="height:90; background-color:#424242;" >
    <div class="navbar-header" >
        <a href="javascript:void(0);"(click)="gotohome()"><img  id="icon" src="assets/nt.png" /></a>
    </div>
    <nav class="navbar-collapse collapse " style="color:white;">
        <ul class="nav navbar-nav">
            <li>
                <h1 style="font-family: 'Do Hyeon', sans-serif;">Welcome to SurgeOrb!</h1>
            </li>
            <!--<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Navbar Item 2<b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#">Navbar Item2 - Sub Item 1</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Navbar Item 3</a>
            </li>-->
        </ul>
        <ul class="nav navbar-nav pull-right" style="display:table; margin:0 auto; margin-top:1rem;">
            <li class="dropdown">
                <img id="xsd" src={{profileurl}} alt="assets/149071.png"  />
                <a href="#" (click)="movedown()" id="nbAcctDD" style="background-color:#424242" class="content" data-toggle="dropdown"><i class="icon-user"></i>{{username}}<i class="icon-sort-down"></i></a>
                <ul class="dropdown-menu pull-right content" style="background-color:#424242" >
                    <li ><a (click)="logout()">Log Out</a></li>
                    <li ><a (click)="changedata()">Change</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
<div id="wrapper">
  <div id="sidebar-wrapper"  >
    <div class="sidebar">

        <ul class="sidebar-nav content">
            <li  >
                <div>
                  <a href="javascript:void(0);" (click)="togglenav()">Close <i class="fa fa-bars menu-icon fa-2x small-icon" aria-hidden="true"></i></a>
                </div>
            </li>
            <li>
                <a href="javascript:void(0);" (click) = "gotohome()" >Home <i class="fa fa-home menu-icon fa-2x large-icon " aria-hidden="true"></i></a>
            </li>
            <li (click)="gotocourse()">
                <a href="javascript:void(0);" >My Course<i class="fa fa-book menu-icon fa-2x small-icon" aria-hidden="true"></i></a>
            </li>
            <li (click)="gotoquiz()">
                <a href="javascript:void(0);" >Quiz view<i class="fa fa-thumbtack menu-icon fa-2x large-icon" aria-hidden="true"></i></a>
            </li>
            <li (click)="gotoprogress()">
                <a href="javascript:void(0);" >Progress Check<i class="fa fa-chart-line menu-icon fa-2x large-icon" aria-hidden="true"></i></a>
            </li>
            <li (click)="gotoscholar()">
                <a href="javascript:void(0);" >Scholarship<i class="fa fa-graduation-cap menu-icon fa-2x large-icon" aria-hidden="true"></i></a>
            </li>
            <li (click)="gotoleave()">
                <a href="javascript:void(0);" >Medicle Leave<i class="fa fa-briefcase-medical menu-icon fa-2x large-icon" aria-hidden="true"></i></a>
            </li>
            <li (click)="gotocomplain()">
                <a href="javascript:void(0);"  >Add Complain<i class="fa fa-chalkboard-teacher menu-icon fa-2x large-icon" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="javascript:void(0);" (click) = "changedata()" >Change Profile<i class="fa fa-cog menu-icon fa-2x small-icon" aria-hidden="true"></i></a>
            </li>
            <li>
                <a href="javascript:void(0);" (click)="logout()">Log out<i class="fa fa-sign-out-alt menu-icon fa-2x small-icon" aria-hidden="true"></i>
                    </a>
            </li>

        </ul>
    </div>
        </div>
        <div id="main-wrapper">
            <div id="main">
              <router-outlet></router-outlet>
            </div>
        </div>
</div>
