<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Change Password</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">

        <div class="row">

       <label class="control-label col-md-3" ><b>Enter current Password </b></label>
       <div class="col-md-9">


       <input type="password" id="old" name="old" class="form-control input-md" (input)="passwordtouched()" required [(ngModel)]="oldpassword" #old="ngModel" >
       <div id="div3df23" *ngIf="old.invalid && (old.touched || old.dirty) && passwordset" class="alert alert-danger">
       <div *ngIf="old.errors.required">Old Password is required </div></div>
      </div>
      </div>
      </div>
      <div class="form-group">
        <div class="row">
          <label class="control-label col-md-3" ><b>New Password </b></label>
          <div class="col-md-9">

            <input (input)="passwordtouched()" type="password" pattern="^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$" id="new" name="new" class="form-control input-md" required [(ngModel)]="newpassword" #new="ngModel" >
            <div id="div323" *ngIf="new.invalid && (new.touched || new.dirty) && passwordset" class="alert alert-danger">
            <div *ngIf="new.errors.pattern"> Password should have 8 characters with at least 1 letter, special character and number each</div>
            <div *ngIf="new.errors.required"> New Password is required </div></div>
          </div>
        </div>
      </div>
      <div class="form-group">

        <div class="row">
          <label class="control-label col-md-3" ><b>Reconfirm Password </b></label>
          <div class="col-md-9">

            <input type="password" id="reco" name="reco" class="form-control input-md" required (input)="passwordtouched()"  [(ngModel)]="reconfirm" #reco="ngModel" >
            <div id="div3df23" *ngIf="reco.invalid && (reco.touched || reco.dirty) && passwordset" class="alert alert-danger">
            <div *ngIf="new.errors.required"> Password is required </div></div>
          </div>
        </div>
      </div>

      <div *ngIf="(oldcheck | async)" class="alert alert-danger">
      <div *ngIf="(oldcheck | async)"> Please re enter your old password </div> </div>

      <div *ngIf="(newcheck | async)" class="alert alert-danger">
      <div *ngIf="(newcheck | async)"> Confirm wether your new password is correct in both places</div> </div>




      </div>
      <div class="modal-footer">
        <div class="form-group pull-right">
        <button id="button79" type="button" class="btn btn-default" data-dismiss="modal" (click)="closepassword()">Close</button>
        </div>
        <div class="form-group pull-right">
          <button id="pro"  type="button" [disabled]="(new.invalid && (new.touched || new.dirty)) || (old.invalid && (old.touched || old.dirty)) || (reco.invalid && (reco.touched || reco.dirty)) || !passwordset" class="btn btn-default" (click)="Confirm()">Proceed</button>
        </div>
        <button style="display:none" id="closeonsuccess" (click)="closepassword()"></button>
      </div>
    </div>
</div>
</div>


  <div class="form-group">

  <div class="row">

  <div class="col-md-10">
    <label style="font-size:45px;"><b>Update User Data</b></label>
  </div>
  <div class="col-md-2">
    <li class="dropdown">
      <img src={{profileurl}} width="100px" />
      <div style="height:10px;">

      </div>
      <label class="btn btn-default btn-file" style="margin-left:33px;">
        Browse <input #newprofile type="file" style="display: none;" (change)="detectfiles($event)">
      </label>
    </li>

  </div>

  </div>
  </div>

  <div class="form-group" style="height:10px">

  </div>

  <div class="form-group">

  <div class="row">

  <label class="control-label col-md-3" for="name"><b>Full Name </b></label>
  <div class="col-md-8">


  <input [disabled]="fnamedis" id="name" name="name" class="form-control input-md" required minlength="4"  [(ngModel)]="fname" value="x" #name="ngModel" >

  <div id="div1" *ngIf="name.invalid && (name.errors.minlength)" class="alert alert-danger">
  <!-- <div *ngIf="name.errors.required"> Name is required.</div> -->
  <div *ngIf="name.errors.minlength">Name must be at least 4 characters long.</div></div>
  </div>
  <div class="col-md-1">
    <button class="btn" (click)="fnamedis = false">Change</button>
  </div>
  </div>
  </div>

  <div class="form-group">
  <div class="row">
  <label class="control-label col-md-3" for="Address"><b>Address </b></label>
  <div class="col-md-8">

  <textarea [disabled]="fadddis" type="textarea" id="Address" name="Address" class="form-control" required minlength="30"  [(ngModel)]="fAddress" #Address="ngModel" ></textarea>

  <div id="div2" *ngIf="Address.invalid && (Address.errors.minlength)" class="alert alert-danger">
  <!--<div *ngIf="Address.errors.required"> Address is required.</div>-->
  <div *ngIf="Address.errors.minlength"> Address must be at least 30 characters long </div></div>
  </div>
  <div class="col-md-1">
    <button class="btn" (click)="fadddis=false">Change</button>
  </div>
  </div>
  </div>

  <div class="form-group">
    <div class="row">
      <label class="control-label control-label-left col-md-3" for="field3"><b>Date</b></label>
      <div class="controls col-md-8">

            <span class="k-widget k-datepicker k-header form-control" style=""><span class="k-picker-wrap k-state-default"><input name="name" (input)="changes()" [disabled]="caldis" [(ngModel)]="date" id="field3" type="date" class="form-control k-input" data-role="date" role="textbox" aria-haspopup="true" aria-expanded="false" aria-owns="field3_dateview" aria-disabled="false" aria-readonly="false" aria-label="Current focused date is null" data-error-container="#errfield3" style="width: 100%;" required="required" data-parsley-errors-container="#errId3"><span unselectable="on" class="k-select" role="button" aria-controls="field3_dateview" ><span unselectable="on" class="k-icon k-i-calendar">select</span></span></span></span><span id="errId3" class="error"></span>
            <div id="div233" *ngIf="(calinvalid | async)" class="alert alert-danger">
            <div *ngIf="(calinvalid | async)">Date invalid</div></div>
          </div>

            <div class="col-md-1">
              <button class="btn" (click)="activate()">change</button>
            </div>

    </div>
  </div>

  <div class="form-group">

  <div class="row">
  <label class="control-label col-md-3" for="NIC"><b>NIC </b></label>
  <div class="col-md-8">

  <input [disabled]="true" id="NIC" name="NIC" class="form-control input-md" required minlength="10" (input)="checkValidity()" [(ngModel)]="fNIC" #NIC="ngModel" pattern="^[0-9]{9}[vV]" >

  <div id="div3" *ngIf="NIC.invalid && (NIC.errors.pattern || NIC.errors.minlength)" class="alert alert-danger">
  <!--<div *ngIf="NIC.errors.required"> NIC is required.</div>-->
  <div *ngIf="NIC.errors.minlength"> NIC must be 10 characters long </div>
  <div *ngIf="NIC.errors.pattern"> NIC needs to be valid</div> </div>
  <div id="div13" *ngIf="(NICtaken | async)" class="alert alert-danger">
  <!--<div *ngIf="NIC.errors.required"> NIC is required.</div>-->
  <div *ngIf="(NICtaken | async)"> NIC already taken </div> </div>
  </div>
  <div class="col-md-1">
  </div>
  </div>
  </div>
  <div class="form-group">
  <div class="row">
  <label class="control-label col-md-3" for="contact"><b>Phone </b></label>
  <div class=col-md-8>
   <input [disabled]="condis" id="contact" name="contact" class="form-control input-md" required minlength="10"  [(ngModel)]="fcontact" #contact="ngModel"  pattern="^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$" >

   <div id="div4" *ngIf="contact.invalid && (contact.errors.pattern || contact.errors.minlength)" class="alert alert-danger">
   <!--<div *ngIf="contact.errors.required"> Phone number is required.</div>-->
   <div *ngIf="contact.errors.minlength"> NIC must be 10 characters long </div>
   <div *ngIf="contact.errors.pattern">Please enter a valid Phone Number</div></div>
  </div>
  <div class="col-md-1">
    <button class="btn" (click)="condis=false">Change</button>
  </div>
  </div>
  </div>

  <div class="form-group">
  <div class="row">
  <label class="control-label col-md-3" for="contact"><b>Emergency Contact </b></label>
  <div class=col-md-8>
   <input [disabled]="condis2" id="contact2" name="contact2" class="form-control input-md" required minlength="10"  [(ngModel)]="fcontact2" #contact2="ngModel"  pattern="^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$" >

   <div id="div4" *ngIf="contact2.invalid && (contact2.errors.pattern || contact2.errors.minlength)" class="alert alert-danger">
   <!--<div *ngIf="contact.errors.required"> Phone number is required.</div>-->
   <div *ngIf="contact2.errors.minlength"> NIC must be 10 characters long </div>
   <div *ngIf="contact2.errors.pattern">Please enter a valid Phone Number</div></div>
  </div>
  <div class="col-md-1">
    <button class="btn" (click)="condis2=false">Change</button>
  </div>
  </div>
  </div>



  <div class="form-group">
  <div class="row">


  <label class="control-label col-md-3" for="email"><b>Email </b></label>
   <div class="col-md-8">
     <input [disabled]="emadis" id="email" name="email" class="form-control input-md" required  [(ngModel)]="femail" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" >

    <div id="div5" *ngIf="email.invalid && (email.errors.pattern)" class="alert alert-danger">
    <!--<div *ngIf="email.errors.required"> Email Address is required.</div>-->
    <div *ngIf="email.errors.pattern"> Please enter a valid Email Address </div></div>
   </div>
   <div class="col-md-1">
     <button class="btn" (click)="emadis=false">Change</button>
   </div>
   </div>
  </div>

<div style="height:10px">

</div>



  <div align="right" style="padding-bottom: 20px;" >
    <button class="btn" [disabled]=" (fnamedis || (name.invalid))   && (fadddis || (Address.invalid))
    && (condis|| (contact.invalid)) && (emadis || (email.invalid))
    && (caldis || (calinvalid | async)) && (condis2 || (contact2.invalid)) && profilepicchanged" (click)="update()"> Update data</button>
    <button class="btn" (click)="getcurrentPassword()"  data-toggle="modal" data-target="#myModal">Change Password</button>
    <button class="btn" (click)="restore()" >Restore</button>
  </div>

  <button style="display:none" id="uploadbutton" (click)="upload()"> Upload </button>
