
<div align="right" style="padding-bottom: 20px;" data-toggle="modal" data-target="#myModal">
  <button class="btn">+ Add  Mcq Question</button>
</div>
<div>
  <div class="btn-group">
    <button type="button" class="btn btn-primary"  *ngFor= "let question of quiz.Questions" (click)="goto(quiz.Questions.indexOf(question))">{{quiz.Questions.indexOf(question) + 1}}</button>
  </div>

  <div style="overflow:hidden;">
    <button class="btn" *ngIf="shownext" style="float:right;"(click)="next()">next</button>
    <button class="btn" *ngIf="showprev" (click)="prev()">previous</button>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Create Question</h4>
      </div>
      <div class="modal-body">
        <form  method="post" #mcqForm="ngForm">
          <div>
            <input type="radio" name="type" value="mcq" (change)="typechange()" [(ngModel)]="TempQue.type"> MCQ type question<br />
            <input type="radio" name="type" value="tf" (change)="typechange()" [(ngModel)]="TempQue.type" > True False type question<br />
            <input type="radio" name="type" value="sans" (change)="typechange()" [(ngModel)]="TempQue.type" >Written Answer question<br />
          </div>

          <div *ngIf="TempQue.type=='mcq'" >
            <div>
            <textarea (input)="newform()" required #mcq="ngModel" placeholder="Type question here" name="textarea" class="form-control" style="height:90px" [(ngModel)]="TempQue.Text" style="margin:top:10px;margin-bottom:10px;"></textarea>
            </div>
            <div *ngIf="mcq.errors && (mcq.dirty || mcq.touched) && (newf | async)"  class ="alert alert-danger">
              <div *ngIf="mcq.errors.required" >Please enter question
              </div>

            </div>

            <div>
            <input (change)="seeans()" type="radio" style="margin:top:10px;margin-bottom:10px;" name="gender" [(ngModel)]="TempQue.Answer" value="1" checked >
            <input type="text" required name="m" [(ngModel)]="TempQue.Option1" #op1="ngModel"/> <br />
            </div>
            <div *ngIf="op1.errors && (op1.dirty || op1.touched) && (newf | async) "  class ="alert alert-danger">
              <div *ngIf="op1.errors.required" >Please enter option1
              </div>

            </div>

            <div>
            <input (change)="seeans()" type="radio" style="margin:top:10px;margin-bottom:10px;"  name="gender" [(ngModel)]="TempQue.Answer" value="2"  >
            <input type="text" required  #op2="ngModel" name="f" [(ngModel)]="TempQue.Option2"/><br />
            </div>
            <div *ngIf="op2.errors && (op2.dirty || op2.touched) && (newf | async)"  class ="alert alert-danger">
              <div *ngIf="op2.errors.required" >Please enter option2
              </div>

            </div>

            <input (change)="seeans()" type="radio"style="margin:top:10px;margin-bottom:10px;"  name="gender" [(ngModel)]="TempQue.Answer" value="3" >
            <input type="text" #op3="ngModel" required name="other_reason" [(ngModel)]="TempQue.Option3"/><br />

            <div *ngIf="op3.errors && (op3.dirty || op3.touched) && (newf | async)"  class ="alert alert-danger">
              <div *ngIf="op3.errors.required" >Please enter option3
              </div>

            </div>

            <input (change)="seeans()" type="radio"  style="margin:top:10px;margin-bottom:10px;" name="gender" [(ngModel)]="TempQue.Answer" value="4" >
            <input type="text" #op4="ngModel" required name="not say" [(ngModel)]="TempQue.Option4"/><br />

            <div *ngIf="op4.errors && (op4.dirty || op4.touched) && (newf | async)"  class ="alert alert-danger">
              <div *ngIf="op4.errors.required" >Please enter option4
              </div>

            </div>

          </div>

          <div *ngIf="TempQue.type=='tf'">
            <textarea (input)="newform()" placeholder="Type question here" required  #tfq="ngModel" name="textarea" class="form-control" style="height:90px" [(ngModel)]="TempQue.Text"></textarea>
            <div *ngIf="tfq.errors && (tfq.dirty || tfq.touched) && (newf | async)"  class ="alert alert-danger">
              <div *ngIf="tfq.errors.required" >Please enter question
              </div>

            </div>
            <input (change)="seeans()" (input)="newform()" type="radio"  name="gender" [(ngModel)]="TempQue.Answer" value="True" checked > True <br />
            <input (change)="seeans()" (input)="newform()" type="radio" name="gender" [(ngModel)]="TempQue.Answer" value="False"  > False<br />
          </div>

          <div *ngIf="TempQue.type=='sans'">
            <div>
            <textarea (input)="newform()" placeholder="Type question here"  required  #sansq="ngModel" name="textarea1" class="form-control" style="height:90px; margin:top:10px;margin-bottom:10px;" [(ngModel)]="TempQue.Text">Enter Question in Space provided</textarea>
            <div *ngIf="sansq.errors && (sansq.dirty || sansq.touched) && (newf | async)"  class ="alert alert-danger">
              <div *ngIf="sansq.errors.required" >Please enter question
              </div>

            </div>
          </div>
            <div>
              <textarea (input)="seeans()" placeholder="Type sample answer here"  required  #sansqa="ngModel" name="textarea2" class="form-control" style="height:90px; margin:top:10px;margin-bottom:10px;" [(ngModel)]="TempQue.Answer">Enter Question in Space provided</textarea>
              <div *ngIf="sansqa.errors && (sansqa.dirty || sansqa.touched) && (newf | async)"  class ="alert alert-danger">
                <div *ngIf="sansqa.errors.required" >Please enter sample answer
                </div>

              </div>
          </div>
          </div>


          <div class="modal-footer">
            <div class="form-group pull-right">
            <button id="button79" type="button" (click)="close()" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            <div class="form-group pull-right" >
            <button id="button77" type="button" class="btn btn-default" (click)="gotolastcreated()" [disabled]="(!mcqForm.form.valid) || ( answernotselected | async) ">Reset</button>
            </div>
          </div>


        </form>
      </div>

    </div>
  </div>
</div>


<button class="btn" [disabled]="quiz.Questions.length < 1" (click)="submit()">Submit</button>

<button class="btn btn-primary"  style=" display:none" data-toggle="modal" data-target="#myModal1" id="verify" ></button>


 <!-- Trigger the modal with a button
 <button id="btn1" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1" [disabled]="true"></button>-->
 <!-- Modal -->
 <div id="myModal1" class="modal fade" role="dialog">
   <div class="modal-dialog modal-sm">

     <!-- Modal content-->
     <div class="modal-content">

       <div class="modal-body">
         <p>The quiz is submitted ! </p>
       </div>

       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="redirect()">OK</button>
      </div>

     </div>

   </div>
 </div>
