<!--div class="upload" style="margin:auto">
 <div class="upload-files">
  <header>
   <p>
    <i class="fa fa-cloud-upload" aria-hidden="true"></i>
    <span class="up">up</span>
    <span class="load">load</span>
   </p>
  </header>
  <div class="body" id="drop">
   <i class="fa fa-file-text-o pointer-none" aria-hidden="true"></i>
   <p class="pointer-none"><b>Drag and drop</b> files here <br /> or <a href="" id="triggerFile">browse</a> to begin the upload</p>
			<input type="file" multiple="multiple" />
  </div>
  <footer>
   <div class="divider">
    <span>FILES</span>
   </div>
   <div class="list-files">

   </div>
			<button class="importar">UPDATE FILES</button>
  </footer>
 </div>
</div-->
<h2>Upload Study Material</h2>

<hr style="color: #E5E8E8;width: 1500px">

<div style="text-align:center; background-image: url(assets/Study-Material.png); width: 1022px; height:350px; margin-left:15%; border-radius: 10px">
</div>
<div class="main-wrapper" style="text-align:center; font-size: 350%;background-color: white; border: solid;border-radius: 10px;opacity: 0.9; width:520px;height: 80px; margin-left: 450px; margin-top:-200px">
<b>Upload Study Material</b>
</div>



<br><br><br>
<div class="item" style="margin-top:190px; margin-left:500px; padding-left: 32px; padding-top: 240px; background-color:#D5D8DC; border-style: solid;">
<div class="item2" style="margin-top:-200px;margin-left:-10px;border-style: solid;"></div>
<br>



<div *ngIf="currentUpload && currentUpload?.progress!=100 && !setsize" >
  <div class="progress" >
    <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }" ></div>
  </div>

  Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete


</div>

<div *ngIf="currentUpload?.progress==100 || setsize " >
  <div class="modal-dialog modal-sm" >

    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-body" style="height:10px">
        <p>The file was uploaded ! </p>
      </div>

      <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal" (click)="redirect()">OK</button>
     </div>

    </div>

  </div>
</div>

<button id="btn1" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal1" style="display:none"></button>


<div *ngIf="currentUpload?.progress!=100 && !setFile">
    <label >
       <input type="file" (change)="detectFiles($event)">
    </label>

    <button class="btn btn-primary"
            [disabled]="!selectedFiles"
            (click)="uploadSingle()">

      Upload
    </button>
</div>
    <!--label>
       <input type="file" (change)="detectFiles($event)" multiple>
    </label>

      <button
              [disabled]="!selectedFiles"
              (click)="uploadMulti()">

        Upload Multiple
      </button-->

    </div>
