.red{
  border : 1px solid red;
}

.dropdown-container {
  position: relative;
  margin-top: 10px;
}

.dropdown-menu {
  position: absolute;
  width : 100px;
  top: 100%; /* Bottom of button */
  right: 0;
  margin-left: 0px; /* More to the left */
}
