<h3 style="text-align:center">{{subjectname}}</h3>
<div class="row">

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center" (click)="gotoProgress()" >
  <button class= "btn bigbutton" >
    Final Grades <br /><span class="glyphicon glyphicon-book"></span></button>
</div>

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center" (click)="gotoQuiz()" >
  <button class= "btn bigbutton" >
    Quiz marks <br /><span class="glyphicon glyphicon-book"></span></button>
</div>

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center" (click)="gotoAdmittance()" >
  <button class= "btn bigbutton" >
    Admittance <br /><span class="glyphicon glyphicon-book"></span></button>
</div>

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center" (click)="gotoaddquiz()" >
  <button class= "btn bigbutton" >
    Add Quizes <br /><span class="glyphicon glyphicon-book"></span></button>
</div>

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center" (click)="gotomaterial()" >
  <button class= "btn bigbutton" >
    Add study materials <br /><span class="glyphicon glyphicon-book"></span></button>
</div>
</div>
