<h3 style="text-align:center">{{subjectname}}</h3>

<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 mycontainer" align="center" (click)="gotoProgress()" >
  <button class= "btn bigbutton" >
    Final Grades <br /><span class="glyphicon glyphicon-book"></span></button>
</div>


<button class="btn" style="margin-top:150px;" (click)="refresh()">Refresh</button>
<div  style="margin-top:50px; margin-bottom:30px; margin-left:50px">
  <h4 style="color:blue">Added Study Materials</h4>
  <ul>
    <li style="padding:10px;"  *ngFor= "let file of files " ><a href="{{file.url}}">{{file.name}}</a> </li>
  </ul>
</div>

<div  style="margin-top:30px; margin-bottom:30px; margin-left:50px">
  <h4>Quizes</h4>
  <ul>
    <li style="padding:10px;"  *ngFor= "let quiz of quizes " ><a (click)="gotodisplayquiz(quiz.name)" >{{quiz.name}}</a></li>
  </ul>
</div>
